@charset "utf-8";

@media screen and (min-width: 900px) {
  .q {
    position: relative;
    padding-left: 50px;
    display: flex;
    align-items: center;
    min-height: 3rem;
  }
  .q::before {
    content: "Q";
    position: absolute;
    font-size: 3rem;
    left: 8px;
  }
}

.table thead th {
  min-width: 10%;
}

.modal-content p {
  color: rgb(230, 49, 49);
}

.modal-content p.incorrect {
  color: rgb(65, 65, 183);
}

.correct_answer_rate {
  margin-left: 5px;
}
.correct_answer_rate::after {
  content: "%";
}

/* modal */
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 800px;
  width: 90%;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
  background: #fff;
  text-align: left;
  padding: 30px;
}
.modal-content p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(230, 60, 60);
  margin-bottom: 0;
}

.modal-content p.collect {
  color: rgb(85, 175, 85);
}