/* hambarger menu */
#overlay-button {
  display: none;
}
#overlay-button {
  padding: 18px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 2px;
  width: 15px;
  margin-top: 8px;
  border-radius: 1px;
  background-color: #DCE4F2;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
}
#overlay-button span:before {
  top: -5px;
  visibility: visible;
}
#overlay-button span:after {
  top: 5px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 2px;
  width: 15px;
  border-radius: 1px;
  background-color: #DCE4F2;
  position: absolute;
  content: "";
  transition: all .2s ease-in-out;
}
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #F0F1F2;
}
#overlay-input {
  display: none; 
}
#overlay-input:checked ~ #overlay {
  visibility: visible; 
}
#overlay-input:checked ~ #overlay-button:hover span, #overlay-input:checked ~ #overlay-button span {
  background: transparent;
}
#overlay-input:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
}
#overlay-input:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media screen and (max-width: 600px) {

  /* hamberger menu */
  #overlay-button {
    display: block;
  }  
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #659DBF;
    color: white;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #DCE4F2;
  }

}