@charset "utf-8";

/* Color Theme Swatches in Hex */
.Lippe-1-hex { color: #DCE4F2; }
.Lippe-2-hex { color: #9AB5D9; }
.Lippe-3-hex { color: #659DBF; }
.Lippe-4-hex { color: #F0F1F2; }
.Lippe-5-hex { color: #72DBF2; }

body, a {
  color: #424245;
  font-size: 16px;
}

main, header nav {
  max-width: 1000px;
  margin: 0 auto;
}

.uppercase-text {
  text-transform: uppercase;
}

.gap-2 > * {
  margin: 0.5rem;
}

header {
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  height: 40px;
}
header nav ul {
  height: 40px;
}
header nav ul li a {
  color: #DADADA;
  font-size: .8rem;
}
header nav ul li a:hover {
  color: #f5f5f5;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 80px);
  padding: 2rem 2rem 0 2rem;
  letter-spacing: .15rem;
}

footer {
  text-align: center;
  height: 40px;
}

ul {
  padding-left: 15px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-box img {
  width: 100%;
  margin-bottom: 20px;
}

section {
  border-bottom: 2px solid #659DBF;
}

section h2 {
  font-size: 1.6rem;
  border-left: 5px solid #9AB5D9;
  padding-left: 4px;
  margin-bottom: 30px;
}

section h3 {
  font-size: 1.3rem;
}

section h4 {
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.list-border-bottom > li {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #659DBF;
}
.list-border-bottom > li:last-child {
  border: none;
}

.btn-blue {
  color: #fff;
  background-color: #659DBF;
  border-color: #659DBF;
}

.btn-blue:hover {
  color: #fff;
  background-color: #72DBF2;
  border-color: #72DBF2;
}

.theme-text {
  text-decoration: underline;
  text-decoration-color: #72DBF2;
}

.btn-list a:hover {
  text-decoration-color: white;
}

#member-cards {
  justify-content: space-between;
  flex-wrap: wrap;
}

#member-cards .card-title {
  text-transform: uppercase;
}

#reference-list li a {
  color: #659DBF;
  text-decoration: underline;
  text-decoration-color: #659DBF; 
}

#reference-list li a:hover {
  color: #9AB5D9;
  text-decoration: underline;
  text-decoration-color: #9AB5D9; 
}